<% answers = answer_shuffler(question) %>
<li>
	
	<a title="<%= question.question %>" href="javascript:void(0)" onclick="unspoiler('<%= "spoiler" + index.to_s %>')">
		<%= question.question %>
	</a>
	<% if current_user == question.user %>
			 | 
			 <% if controller_name == "groupings" %>
			 	<%= link_to 'edit', edit_grouping_question_path(params[:id] , question) %>
			 <% else %>
			 	<%= link_to 'edit', edit_user_question_path(current_user, question) %>
			 <% end %>
			 | <%= link_to 'delete', question, method: :delete, data: {confirm: "Are you sure?"} %>
	<% elsif params[:grouping_id].present? %>
		| <%= link_to 'add', new_share_path(grouping_id: params[:grouping_id], question_id: question.id) %>
<% end %>
	<% end %>
	<% if answerable %>
	| <%= link_to 'answer', new_question_user_answer_path(question) %>
	<% end %>
	<div id="spoiler<%= index%>" style="display: none;">
		<div class="answer-margin">
			<b>Answer 1:</b> <%= answers[0]%>
		</div>
		<div class="answer-margin">
			<b>Answer 2:</b> <%= answers[1]%>
		</div>
		<div class="answer-margin">
			<b>Answer 3:</b> <%= answers[2]%>
		</div>
		<div class="answer-margin">
			<b>Answer 4:</b> <%= answers[3]%>
		</div>
		
		<% if question.groupings.present? %>
		<div class="answer-margin">
			<b>In Quizzes </b> <%= question.grouping_list %>
		</div>
		<% end %>
		
	</div>		
</li>  