<div class="row">
	<div class="col-md-8">
		<div class="question">
		  <b><%= @question.question %></b>
		</div>
		
		  <div class="answer-margin">
		  	<b>Correct Answer: </b><%= @question.correct_answer %>
		  </div>
		  
		  <div class="answer-margin">
			<b>Answer 1: </b><%= @question.a2 %>
		  </div>
		  
		  <div class="answer-margin">
		  	<b>Answer 2: </b><%= @question.a3 %>
		  </div>
		  
		  <div class="answer-margin">
		  	<b>Answer 3: </b><%= @question.a4 %>
		  </div>
		  
	  	<% if @question.groupings.present? %>
	  		<div class="form-group">
		  		<b>In Quizzes </b><%= @question.grouping_list %>
			<div>
	  	<% end %>
	</div>
</div>


<%= link_to 'Edit', edit_user_question_path(current_user, @question) %> |
<% if @question.groupings.present? %>
	<%= link_to "Quizzes that contain this Question", '#' %> |
<% end %>
<%= link_to 'All Questions', questions_path %>