<% provide(:title, "Your Results") %>

<h1>Edit Quiz</h1>


<%= form_for(@grouping) do |f| %>

    <%= render 'shared/error_messages', object: f.object %>
    
<div class="row">
  	<div class="col-md-6 col-md-offset-3">
		<div class="form-group">
			<%= f.label :name, nil, class: "justified-label" %>
			<div class="justified-field"><%= f.text_field :name %></div>
	    </div>
	    <div class="form-group">
	    	<%= f.label :description, nil, class: "justified-label" %>
	    	<div class="justified-field"><%= f.text_area :description %></div>
	    </div>
	    <div class="form-group">
	    	<%= f.label :tags, nil, class: "justified-label" %>
	    	<div class="justified-field"><%= f.text_field :tag_list %></div>
	    </div>


	  <%= f.fields_for :questions do |ff| %>
		<div class="form-group">
		  <%= ff.label :question, ("Question " + (ff.index + 1).to_s) %></br>
		  <%= ff.text_field :question, :size => 80  %>
				
		<% if ff.object.persisted? %>
		  <%= link_to 'delete', grouping_question_path(@grouping.id, ff.object.id), method: :delete, data: {confirm: "Are you sure?"} %>
		  <%= link_to 'remove this question', share_path(grouping_id: @grouping.id, question_id: ff.object.id), method: :delete, data: {confirm: "Are you sure?"} %>
		<% end %>	
		</div>
		
		  <div class="form-group answer-margin">
		  	<%= ff.label :correct_answer, "Correct Answer" %>
		  	<%= ff.text_field :correct_answer %>
		  </div>
		  
		  <div class="form-group answer-margin">
		  	<%= ff.label :a2, "Incorrect Answer 1" %>
		  	<%= ff.text_field :a2 %>
		  </div>
		  
		  <div class="form-group answer-margin">
		  	<%= ff.label :a3, "Incorrect Answer 2" %>
		  	<%= ff.text_field :a3 %>
		  </div>
		  
		  <div class="form-group answer-margin">
		  	<%= ff.label :a4, "Incorrect Answer 3" %>
		  	<%= ff.text_field :a4 %>
		  </div>	
		
		<% end %>
		
	  <div class="actions">
	    <%= submit_tag %>
	  </div>
	</div>
</div>
<% end %>
</br>
<div class="row">

		<div class="col-md-4 col-md-offset-3">
			<%= link_to "Add a new question", new_grouping_question_path(@grouping) %>
		</div>
		<div class="col-md-4">
			<%= link_to "Choose a question from the pool", choose_questions_path(grouping_id: @grouping.id) %>			
		</div>

	
</div>
	
