<% 
if request.fullpath.include?("user")
	@title = "Your Quizzes"
else
	@title = "Available Quizzes"
end
%>

<% provide(:title, @title) %>
<h1><%= @title %></h1>

<%= will_paginate %>

<ul class="groupings">
	<% @groupings.each do |grouping| %>
		<%= render grouping %>
	<% end %>
</ul>

<% if @groupings.empty? %>
	<div>
		There don't seem to be any quizzes.  <%= link_to 'Create one now.', new_user_grouping_path(current_user) %>
	</div>
<% end %>

<%= will_paginate %>
