<div class="row">
	<div class="col-md-8">
		<section class="grouping_info">

				<%= @grouping.name %></br>
				<%= @grouping.description %></br>
				<%= @grouping.tag_list %>

		</section>
	</div>
</div>
<div class="row">
	<div class="col-md-8">
		<ul class="users">

			<% @grouping.questions.each_with_index do |question, index| %>
				<%= render partial: question, locals: {question: question, index: index} %>
			<% end %>

		</ul>

	</div>
</div>
<div class="row">	
	<div class="col-md-8">
		<%= link_to "Add a new question", new_question_path(:question => { :grouping_id => @grouping.id } ) %>
	</div>
</div>


<%= link_to 'Edit', edit_grouping_path(@grouping) %> |
<%= link_to 'Back', groupings_path %>