<% @questions = @grouping.questions %>
<%= form_for([@grouping, @answer_session], :html=> {:id => 'answer_session'})  do |f| %>

  <% if @answer_session.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@answer_session.questions.user_answers.errors.count, "error") %> prohibited this answer from being saved:</h2>

      <ul>
      <% @answer_session.questions.user_answers.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <fieldset>
  	<% @questions.each_with_index do |question, index| %>
	<% questionno = index + 1 %>
	<div class="question">
		<%= questionno.to_s + ") " + question.question %>
	</div>

	  <%= f.fields_for :user_answers, question.user_answers.find_by(answer_session: @answer_session) do |a| %>
	
	    <% answers = answer_shuffler(question, a.object.answer_seq)%> 
	
	    <div class="form-group" data-question-label="Question <%= questionno%>">
			<%= a.radio_button :answer, '0' %>
			<%= a.label :answer, answers[0], :value => '0' %>
			<%= a.radio_button :answer, '1' %>
			<%= a.label :answer, answers[1], :value => '1' %>
			<%= a.radio_button :answer, '2' %>
			<%= a.label :answer, answers[2], :value => '2' %>
			<%= a.radio_button :answer, '3' %>
			<%= a.label :answer, answers[3], :value => '3' %>
	    </div>
	    
	    <%= a.hidden_field :question_id, :value => question.id %>
	
	  <% end %>
	  
	  <% if (index+1 > 5) %>
	  	<input type="button" name="previous" class="previous action-button" value="Previous" />
	  <% end %>
	  		
	<% if (((index+1)%5).zero? && (@questions.count > (index + 1))) %>
		<input type="button" name="next" class="next action-button" value="Next" />
	</fieldset>
	<fieldset>
	<% end %>

  <% end %>

    <%= submit_tag "Save Answers", class: "submit action-button" %>

  </fieldset>
 
<% end %>
   <div class="answer-session-spacer">	
   </div>

